@import "tailwindcss";

@theme {
  --font-heading: "Playfair Display", serif;
  --font-text: "Inter", sans-serif;

  --color-text: #1f2937;
  --color-background: #f8fafc;
  --color-primary: #519a66;
  --color-secondary: #3e7a52;
  --color-accent: #f4a261;

  --color-success: #22c55e;
  --color-info: #3b82f6;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-background-gradient: linear-gradient(to bottom, --color-primary, --color-background);
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
.font-heading {
  font-family: var(--font-heading);
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
  width: max-content;
}

.pause-animation:hover .animate-infinite-scroll {
  animation-play-state: paused;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
